
#bgr{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}
#bgr:hover{
}

#plr{
	position: absolute;
	left: 400px;
	top: 400px;
	z-index: 1;
}
#npc{
	position: absolute;
	left: 450px;
	top: 300px;
	z-index: 0.9;

}
body{
	background-color: black;
}